# Ignore the raw data folder
data/

# Ignore the generated cache files
cache/

# Ignore the exported reports
reports/

# Ignore compiled C++ executables
*.exe
mawi_engine

# Ignore Python cache and compiled files
__pycache__/
*.pyc